@use 'modules/color_theme' as color;
@use 'modules/config' as conf;
@use 'sass:color' as scolor;

/** see https://developer.mozilla.org/en-US/docs/Web/HTML/Reference/Elements/Heading_Elements#specifying_a_uniform_font_size_for_h1 */
:where(h1) {
  margin-block: 0.67em;
  font-size: 2em;
}

a {
  text-decoration: none;

  @include color.themed() {
    color: color.t('primary');
  }

  &:hover {
    @include color.themed() {
      color: color.t('info');
    }
  }
}

blockquote {
  margin-left: 0;
  margin-right: 0;
  padding: 0.1em 1em;

  @include color.themed() {
    background: oklch(from color.t('primary-lighter') calc(l - 0.1) calc(c - 0.05) h / 0.2);

    @include conf.ltr {
      border-left: 5px solid color.t('info');
    }

    @include conf.rtl {
      border-right: 5px solid color.t('info');
    }
  }
  p:first-of-type {
    font-size: 1.2em;
    font-weight: bold;
    margin-left: 0.5em;
  }
  p:nth-of-type(2) {
    margin-top: -1em;
  }
  p:not(:first-of-type) {
    margin-left: 2.2em;
  }
  svg {
    position: relative;
    top: 5px;
    left: -3px;
    height: 1.2em;
    width: 1.2em;
  }
  &.success {
    @include color.themed() {
      background: oklch(from color.t('success') calc(l - 0.1) calc(c - 0.05) h / 0.2);
      border-color: color.t('success');

      svg {
        color: color.t('success');
      }
    }
  }
  &.failure {
    @include color.themed() {
      background: oklch(from color.t('danger') calc(l - 0.1) calc(c - 0.05) h / 0.2);
      border-color: color.t('danger');

      svg {
        color: color.t('danger');
      }
    }
  }
  &.warning {
    @include color.themed() {
      background: oklch(from color.t('warning') calc(l - 0.1) calc(c - 0.05) h / 0.2);
      border-color: color.t('warning');

      svg {
        color: color.t('warning');
      }
    }
  }
  &.disclaimer {
    @include color.themed() {
      background: oklch(from color.t('disclaimer') calc(l - 0.1) calc(c - 0.05) h / 0.2);
      border-color: color.t('disclaimer');

      svg {
        color: color.t('disclaimer');
      }
    }
  }
  &.tip {
    @include color.themed() {
      background: oklch(from color.t('tip') calc(l - 0.1) calc(c - 0.05) h / 0.2);
      border-color: color.t('tip');

      svg {
        color: color-mix(in hsl, color.t('primary') 20%, color.t('tip'));

        .theme--dark & {
          color: color.t('tip');
        }
      }
    }
  }
  &.question {
    @include color.themed() {
      background: oklch(from color.t('question') calc(l - 0.1) calc(c - 0.05) h / 0.2);
      border-color: color.t('question');

      svg {
        color: color.t('question');
      }
    }
  }
}

p {
  line-height: 1.9em;
}
