<!doctype html>
<html
  dir="{{ .Site.Language.LanguageDirection | default "ltr" }}"
  lang="{{- site.Language.Lang -}}"
  data-theme="{{- cond (eq .Site.Params.displayMode "dark") "dark" "light" -}}"
  data-navpos="{{- cond (eq .Site.Params.defaultMobileNavPosition "bottom") "bottom" "top" -}}"
  {{ if eq .Site.Params.displayMode "dark" }}
    {{ if eq (.Site.Params.defaultMobileNavPosition | default "top") "bottom" }}
      class="html theme--dark navpos--bottom"
    {{ else }}
      class="html theme--dark navpos--top"
    {{ end }}
  {{ else }}
    {{ if eq (.Site.Params.defaultMobileNavPosition | default "top") "bottom" }}
      class="html theme--light navpos--bottom"
    {{ else }}
      class="html theme--light navpos--top"
    {{ end }}
  {{ end }}
>
  {{- partial "head.html" . -}}
  <body class="body">
    <div class="wrapper">
      <aside
        {{ if (and (or (eq .Site.Params.hidesidebar true) (eq .Params.hidesidebar true)) (not .IsHome)) }}
          class="wrapper__sidebar wrapper__sidebar--hidden"
        {{ else }}
          class="wrapper__sidebar"
        {{ end }}
      >
        {{- partial "sidebar.html" . -}}
      </aside>
      <main
        {{ if (and (or (eq .Site.Params.hidesidebar true) (eq .Params.hidesidebar true)) (not .IsHome)) }}
          class="wrapper__main wrapper__main--fullscreen"
        {{ else }}
          class="wrapper__main"
        {{ end }}
      >
        <header class="header">{{ partial "navbar.html" . }}</header>
        {{- block "main" . }}{{- end }}
      </main>
    </div>

    {{- partial "footer.html" (dict "context" . "footerClassModifier" "base") -}}

    {{- if (eq .Site.Params.simpleAnalytics.enable true) -}}
      {{- partial "analytics/simpleanalytics.html" . -}}
    {{- end -}}

    {{- if (eq .Site.Params.pwa.enable true) -}}
      {{- partialCached "pwa/assets/sw" . -}}
    {{- end -}}
  </body>
</html>
