{{ define "main" }}
  {{ if gt .Pages.Len 0 }}
    <div
      class="archive {{ with .Site.Params.doNotLoadAnimations }}
        .
      {{ else }}
        animated fadeInDown
      {{ end }}"
    >
      {{ $taxonCountMap := dict }}
      {{ if eq .Kind "taxonomy" }}
        {{ $taxonomyName := .Data.Plural }}
        {{ $taxonomy := cond (isset $.Site.Taxonomies $taxonomyName) (index $.Site.Taxonomies $taxonomyName) (slice) }}
        {{ range $taxonomy.ByCount }}
          {{ $taxonCountMap = merge $taxonCountMap (dict .Page.Title (dict "count" .Count "page" .Page)) }}
        {{ end }}
      {{ end }}

      {{ if and .Site.Params.listTaxonomyByCount (eq .Kind "taxonomy") }}
        <h2 class="archive__heading">{{ .Title }}</h2>
        {{ $sortedTaxons := slice }}
        {{ range $key, $value := $taxonCountMap }}
          {{ $sortedTaxons = $sortedTaxons | append (dict "name" $key "count" $value.count "page" $value.page) }}
        {{ end }}
        {{ $sortedTaxons = sort $sortedTaxons "count" "desc" }}
        {{ range $sortedTaxons }}
          <ul class="archive__list">
            <li class="archive__list-item">
              {{ $linkClass := "styled" }}
              {{ if (eq $.Site.Params.disableArchiveTitleStyling true) }}
                {{ $linkClass = "" }}
              {{ end }}
              <a class="archive__list-title {{ $linkClass }}" href="{{ .page.Permalink }}" title="{{ .name }}">
                {{ .name }}
              </a>
              <div class="archive__list-date">
                <span class="sidebar__post-link-count">({{ .count }})</span>
              </div>
            </li>
          </ul>
        {{ end }}
      {{ else }}
        {{ $listIdx := 0 }}
        {{ range .Pages.GroupByDate "2006" }}
          {{- $headerAnchor := delimit (split .Key " ") "-" | lower -}}
          <h2 class="archive__heading" id="{{ $headerAnchor }}">{{ .Key }}</h2>
          {{ range $index, $page := .Pages }}
            {{ $listIdx = add $listIdx 1 }}
            <ul class="archive__list">
              {{ $postClass := "" }}
              {{ $external := false }}
              {{ $postUrl := .RelPermalink }}
              {{ if .Params.redirectUrl }}
                {{ $postUrl = .Params.redirectUrl }}
                {{ $external = true }}
                {{ $postClass = "external" }}
              {{ end }}
              {{ $linkClass := "styled" }}
              {{ if (eq .Site.Params.disableArchiveTitleStyling true) }}
                {{ $linkClass = "" }}
              {{ end }}
              <li class="archive__list-item {{ $postClass }}">
                <a
                  class="archive__list-title {{ $linkClass }}"
                  href="{{ $postUrl }}"
                  title="{{ .Title }}"
                  {{ if $external }}
                    target="_blank" rel="noopener noreferrer"
                  {{ end }}
                >
                  {{ if .Params.thumbnail }}
                    {{ $loading := "lazy" }}
                    {{ $fetchpriority := "low" }}
                    {{ if le $listIdx 5 }}
                      {{ $loading = "eager" }}
                      {{ $fetchpriority = "high" }}
                    {{ end }}
                    {{ $imageOpts := dict
                      "src" .Params.thumbnail
                      "alt" "Thumbnail image"
                      "page" $page
                      "loading" $loading
                      "fetchpriority" $fetchpriority
                      "width" "48"
                      "class" "archive__list-image"
                    }}
                    {{ partial "image.html" $imageOpts }}
                  {{ end }}
                  {{ if .Params.redirectUrl }}
                    {{ partial "icons/icon" (dict "vendor" "fas" "name" "arrow-up-right-from-square" "className" "archive__list-icon") }}
                  {{ end }}
                  {{ .Title }}{{ with index $taxonCountMap .Title }}
                    <span class="sidebar__post-link-count">({{ .count }})</span>
                  {{ end }}</a
                >
                <div class="archive__list-date">
                  {{ if isset .Site.Params "listdateformat" }}
                    {{ if .Site.Params.localizedDates }}
                      {{ time.Format .Site.Params.listDateFormat .Date }}
                    {{ else }}
                      {{ .Date.Format .Site.Params.listDateFormat }}
                    {{ end }}

                  {{ else }}
                    {{ if .Site.Params.localizedDates }}
                      {{ time.Format "Jan 2" .Date }}
                    {{ else }}
                      {{ .Date.Format "Jan 2" }}
                    {{ end }}

                  {{ end }}
                </div>
              </li>
            </ul>
          {{ end }}

        {{ end }}
      {{ end }}
    </div>
  {{ else }}
    {{ if .Content }}
      <div
        class="post {{ with .Site.Params.doNotLoadAnimations }}
          .
        {{ else }}
          animated fadeInDown
        {{ end }}"
      >
        <div class="post__content">
          {{ if (eq .Site.Params.disableTitleCapitalization true) }}
            <h1>{{ .Title }}</h1>
          {{ else }}
            <h1>{{ title .Title }}</h1>
          {{ end }}

          {{ .Content | safeHTML }}
        </div>
      </div>
    {{ end }}

    {{ $data := "" }}
    {{ if .CurrentSection.File }}
      {{ $data = index .Site.Data .CurrentSection.File.ContentBaseName }}
    {{ else }}
      {{ $data = index .Site.Data .Section }}
    {{ end }}
    {{ if ne $data "" }}
      <div
        class="portfolio-filter-tags {{ with .Site.Params.doNotLoadAnimations }}
          .
        {{ else }}
          animated fadeInDown
        {{ end }}"
      >
        <div class="multi-select-container">
          <div class="input-container">
            <div class="selected-tags" id="selected-tags">
              <input type="text" id="tag-input" placeholder="Filter by tags..." autocomplete="off" />
            </div>
          </div>
          <div class="dropdown hidden" id="tag-dropdown"></div>
        </div>
        <button class="portfolio-filter-clear" title="Clear" aria-label="Clear">
          {{ partial "icons/icon" (dict "vendor" "fas" "name" "xmark" "className" "portfolio__icon") }}
        </button>
      </div>
      {{ range $index, $elemen:= $data.portfolioitems }}
        <div
          class="post {{ with .Site.Params.doNotLoadAnimations }}
            .
          {{ else }}
            animated fadeInDown
          {{ end }}"
        >
          {{ $anchorTitle := .title | urlize }}
          <h2 class="portfolio__title" id="{{ $anchorTitle }}">{{ title .title }}</h2>
          {{ if .description }}
            <p class="portfolio-section__description">{{ .description | markdownify }}</p>
          {{ end }}
          <div class="portfolio-section">
            {{ range $i, $p := .portfolioitem }}
              {{ $anchorName := .name | urlize }}
              <div id="{{ $anchorName }}" class="portfolio" data-tags="{{ delimit .tags "," }}">
                {{ if .image }}
                  <div
                    class="portfolio__image-wrapper {{ if (modBool $i 2) }}
                      portfolio__image-wrapper--right
                    {{ else }}
                      portfolio__image-wrapper--left
                    {{ end }}"
                  >
                    {{ $loading := "lazy" }}
                    {{ if and (eq $index 0) (or (eq $i 0) (eq $i 1)) }}
                      {{ $loading = "eager" }}
                    {{ end }}
                    {{ $imageOpts := dict
                      "src" .image
                      "alt" .name
                      "page" $
                      "link" .link
                      "loading" $loading
                      "class" "portfolio__image"
                    }}
                    {{ partial "image.html" $imageOpts }}
                  </div>
                {{ end }}
                <div
                  class="portfolio__details {{ if (modBool $i 2) }}
                    portfolio__details--left
                  {{ else }}
                    portfolio__details--right
                  {{ end }}"
                >
                  <h3 class="portfolio__name">{{ .name | markdownify }}</h3>
                  <ul class="portfolio__meta">
                    {{ if .start }}
                      <li class="portfolio__meta-item">
                        {{ partial "icons/icon" (dict "vendor" "fas" "name" "calendar-days" "className" "portfolio__icon") }}
                        <span
                          >{{ .start }}{{ if and .end (not (eq .end .start)) }}&nbsp;-&nbsp;{{ .end }}{{ end }}</span
                        >
                      </li>
                    {{ end }}
                    {{ if .venue }}
                      <li class="portfolio__meta-item">
                        {{ partial "icons/icon" (dict "vendor" "fas" "name" "location-dot" "className" "portfolio__icon") }}


                        <span>{{ .venue }}</span>
                      </li>
                    {{ end }}
                    {{ if .status }}
                      <li class="portfolio__meta-item">
                        {{ partial "icons/icon" (dict "vendor" "fas" "name" "flag-checkered" "className" "portfolio__icon") }}


                        <span>{{ .status }}</span>
                      </li>
                    {{ end }}
                    {{ if .authors }}
                      {{ range .authors }}
                        <li class="portfolio__meta-item">
                          {{ partial "icons/icon" (dict "vendor" "fas" "name" "at" "className" "portfolio__icon") }}
                          <span>{{ . }}</span>
                        </li>
                      {{ end }}

                    {{ end }}
                  </ul>
                  <p class="portfolio__description">{{ .description | markdownify }}</p>
                  {{ if .link }}
                    <div class="portfolio__button-wrapper">
                      <a
                        class="portfolio__button"
                        href="{{ .link | safeURL }}"
                        {{ if strings.HasPrefix .link "http" }}
                          target="_blank" rel="noopener"
                        {{ end }}
                      >
                        {{ if strings.HasPrefix .link "http" }}
                          {{ partial "icons/icon" (dict "vendor" "fas" "name" "arrow-up-right-from-square" "className" "portfolio__icon") }}
                        {{ else }}
                          {{ partial "icons/icon" (dict "vendor" "fas" "name" "arrow-right" "className" "portfolio__icon") }}
                        {{ end }}
                        {{- if .linktext -}}
                          {{ .linktext | markdownify }}
                        {{- else -}}
                          Read More
                        {{- end -}}
                      </a>
                    </div>
                  {{ end }}
                  <div class="separator">
                    {{ range .tags }}
                      <a class="tag">{{ . }}</a>
                    {{ end }}
                  </div>
                </div>
              </div>
            {{ end }}
          </div>
        </div>
      {{ end }}

      {{- if isset .Params "series" -}}
        <div class="post__content portfolio">
          {{- partial "series.html" . -}}
        </div>
      {{- end -}}

      {{ if and .Site.Params.brevoFormAction (ne .Params.noNewsletter true) }}
        <div id="join-newsletter" class="newsletter">
          {{ partial "brevo.html" . }}
        </div>
      {{ end }}
    {{ end }}
  {{ end }}

{{ end }}
