{{ define "main" }}
  {{ if gt .Pages.Len 0 }}
    <div
      class="archive {{ with .Site.Params.doNotLoadAnimations }}
        .
      {{ else }}
        animated fadeInDown
      {{ end }}"
    >
      {{ range .Pages.GroupByDate "2006" }}
        <div class="archive__heading">{{ .Key }}</div>
        {{ range .Pages }}
          <ul class="archive__list">
            {{ $postClass := "" }}
            {{ $target := "" }}
            {{ $postUrl := .RelPermalink }}
            {{ if .Params.redirectUrl }}
              {{ $postUrl = .Params.redirectUrl }}
              {{ $target = "_blank" }}
              {{ $postClass = "external" }}
            {{ end }}
            <li class="archive__list-item {{ $postClass }}">
              {{ if (eq .Site.Params.disableArchiveTitleStyling true) }}
                <a class="archive__list-title" href="{{ $postUrl }}" target="{{ $target }}" title="{{ .Title }}">
                  {{ if .Params.redirectUrl }}
                    <i class="fas fa-external-link-alt" aria-label="External link"></i>
                  {{ end }}
                  {{ .Title }}</a
                >
              {{ else }}
                <a class="archive__list-title styled" href="{{ $postUrl }}" target="{{ $target }}" title="{{ .Title }}">
                  {{ if .Params.redirectUrl }}
                    <i class="fas fa-external-link-alt" aria-label="External link"></i>
                  {{ end }}
                  {{ .Title }}</a
                >
              {{ end }}
              <div class="archive__list-date">
                {{ if isset .Site.Params "listdateformat" }}
                  {{ if .Site.Params.localizedDates }}
                    {{ time.Format .Site.Params.listDateFormat .Date }}
                  {{ else }}
                    {{ .Date.Format .Site.Params.listDateFormat }}
                  {{ end }}

                {{ else }}
                  {{ if .Site.Params.localizedDates }}
                    {{ time.Format "Jan 2" .Date }}
                  {{ else }}
                    {{ .Date.Format "Jan 2" }}
                  {{ end }}

                {{ end }}
              </div>
            </li>
          </ul>
        {{ end }}

      {{ end }}
    </div>
  {{ else }}
    {{ if .Content }}
      <div
        class="post {{ with .Site.Params.doNotLoadAnimations }}
          .
        {{ else }}
          animated fadeInDown
        {{ end }}"
      >
        <div class="post__content">
          {{ if (eq .Site.Params.disableTitleCapitalization true) }}
            <h1>{{ .Title }}</h1>
          {{ else }}
            <h1>{{ title .Title }}</h1>
          {{ end }}

          {{ $emojiMapping := dict
            "✅" "success"
            "❌" "failure"
            "ℹ️" "info"
            "⚠️" "warning"
            "📣" "disclaimer"
            "💡" "tip"
          }}

          {{ $content := .Content }}
          {{ range $emoji, $class := $emojiMapping }}
            {{ $blockquote := printf "<blockquote>\n<p>%s" $emoji }}
            {{ $replacement := printf "<blockquote class=\"%s\">\n<p>%s" $class $emoji }}
            {{ $content = replace $content $blockquote $replacement }}
          {{ end }}

          {{ $content = replace $content "<blockquote>" "<blockquote class=\"info\">" }}

          {{ $content | safeHTML }}
        </div>
      </div>
    {{ end }}

    {{ $data := "" }}
    {{ if .CurrentSection.File }}
      {{ $data = index .Site.Data .CurrentSection.File.ContentBaseName }}
    {{ else }}
      {{ $data = index .Site.Data .Section }}
    {{ end }}
    {{ if $data }}
      <div class="portfolio-filter-tags">
        <div class="multi-select-container">
          <div class="input-container">
            <div class="selected-tags" id="selected-tags">
              <input type="text" id="tag-input" placeholder="Filter by tags..." autocomplete="off" />
            </div>
          </div>
          <div class="dropdown hidden" id="tag-dropdown"></div>
        </div>
        <button class="portfolio-filter-clear" title="Clear" aria-label="Clear">
          <i class="fas fa-close"></i>
        </button>
      </div>
      {{ range $index, $elemen:= $data.portfolioitems }}
        <div
          class="post {{ with .Site.Params.doNotLoadAnimations }}
            .
          {{ else }}
            animated fadeInDown
          {{ end }}"
        >
          {{ $anchorTitle := delimit (split .title " ") "" }}
          <h2 class="portfolio__title" id="{{ $anchorTitle | lower }}">{{ title .title }}</h2>
          {{ if .description }}
            <p>{{ .description | markdownify }}</p>
          {{ end }}
          <div class="portfolio-section">
            {{ range $i, $p := .portfolioitem }}
              <div class="portfolio" data-tags="{{ delimit .tags "," }}">
                {{ if .image }}
                  <div
                    class="portfolio__image-wrapper {{ if (modBool $i 2) }}
                      portfolio__image-wrapper--right
                    {{ else }}
                      portfolio__image-wrapper--left
                    {{ end }}"
                  >
                    {{ if .link }}
                      <a href="{{ .link | safeURL }}" target="_blank" rel="noopener">
                        <img class="portfolio__image" src="{{ .image | relURL }}" alt="{{ .name | markdownify }}" />
                      </a>
                    {{ else }}
                      <img class="portfolio__image" src="{{ .image | relURL }}" alt="{{ .name | markdownify }}" />
                    {{ end }}
                  </div>
                {{ end }}
                <div
                  class="portfolio__description {{ if (modBool $i 2) }}
                    portfolio__description--left
                  {{ else }}
                    portfolio__description--right
                  {{ end }}"
                >
                  <h3 class="portfolio__name">{{ .name | markdownify }}</h3>
                  <ul class="portfolio__meta">
                    {{ if .status }}
                      <li class="portfolio__meta-item">
                        <em class="fas fa-flag-checkered"></em>
                        <span>{{ .status }}</span>
                      </li>
                    {{ end }}
                    {{ if .venue }}
                      <li class="portfolio__meta-item">
                        <em class="fas fa-map-marker-alt"></em>
                        <span>{{ .venue }}</span>
                      </li>
                    {{ end }}
                    {{ if .start }}
                      <li class="portfolio__meta-item">
                        <em class="fas fa-calendar-alt"></em>
                        <span
                          >{{ .start }}{{ if and .end (not (eq .end .start)) }}&nbsp;-&nbsp;{{ .end }}{{ end }}</span
                        >
                      </li>
                    {{ end }}
                    {{ if .authors }}
                      {{ range .authors }}
                        <li class="portfolio__meta-item">
                          <em class="fas fa-at"></em>
                          <span>{{ . }}</span>
                        </li>
                      {{ end }}

                    {{ end }}
                  </ul>
                  <p>{{ .description | markdownify }}</p>
                  {{ if .link }}
                    <div class="portfolio__button-wrapper">
                      <a class="portfolio__button" href="{{ .link | safeURL }}" target="_blank" rel="noopener">
                        {{- if .linktext -}}
                          {{ .linktext | markdownify }}
                        {{- else -}}
                          <em class="fas fa-external-link-alt"></em>
                          Read More
                        {{- end -}}
                      </a>
                    </div>
                  {{ end }}
                  <div class="separator">
                    {{ range .tags }}
                      <p class="tag">{{ . }}</p>
                    {{ end }}
                  </div>
                </div>
              </div>
            {{ end }}
          </div>
        </div>
      {{ end }}

      {{- if isset .Params "series" -}}
        <div class="post__content portfolio">
          {{- partial "series.html" . -}}
        </div>
      {{- end -}}

      {{ if and .Site.Params.brevoFormAction (ne .Params.noNewsletter true) }}
        <div class="newsletter">
          {{ partial "brevo.html" . }}
        </div>
      {{ end }}
    {{ end }}
  {{ end }}

{{ end }}
