{{ define "main" }}
  <div
    class="post {{ with .Site.Params.doNotLoadAnimations }}
      .
    {{ else }}
      animated fadeInDown
    {{ end }}"
  >
    {{ if .Params.thumbnail }}
      <div class="post__thumbnail-wrapper">
        {{ $imageOpts := dict
          "src" .Params.thumbnail
          "hdSrc" .Params.thumbnailHd
          "alt" "Thumbnail image"
          "page" .Page
          "loading" "eager"
          "fetchpriority" "high"
          "class" "post__thumbnail"
        }}
        {{ partial "image.html" $imageOpts }}
      </div>
    {{ end }}
    <div class="post__content">
      {{ if (eq .Site.Params.disableTitleCapitalization true) }}
        <h1>{{ .Title }}</h1>
      {{ else }}
        <h1>{{ title .Title }}</h1>
      {{ end }}
      {{ $isPostSection := (eq .Type "post") }}
      {{ if .Site.Params.postSectionName }}
        {{ $isPostSection = or $isPostSection (eq .Type .Site.Params.postSectionName) }}
      {{ end }}
      {{ if .Site.Params.postSections }}
        {{ $isPostSection = or $isPostSection (in .Site.Params.postSections .Type) }}
      {{ end }}
      {{ if $isPostSection }}
        <ul class="post__meta">
          <li class="post__meta-item">
            {{ partial "icons/icon" (dict "vendor" "fas" "name" "calendar-day" "className" "post__meta-icon") }}
            <span class="post__meta-text"
              >{{ if isset .Site.Params "singledateformat" }}
                {{ if .Site.Params.localizedDates }}
                  {{ time.Format .Site.Params.singleDateFormat .Date }}
                {{ else }}
                  {{ .Date.Format .Site.Params.singleDateFormat }}
                {{ end }}

              {{ else }}
                {{ if .Site.Params.localizedDates }}
                  {{ time.Format "Mon, Jan 2, 2006" .Date }}
                {{ else }}
                  {{ .Date.Format "Mon, Jan 2, 2006" }}
                {{ end }}

              {{ end }}
            </span>
          </li>
          {{ if and .Lastmod (not (eq .Lastmod .Date)) }}
            <li class="post__meta-item">
              {{ partial "icons/icon" (dict "vendor" "fas" "name" "pen-to-square" "className" "post__meta-icon") }}
              <span class="post__meta-text" data-humanize-date="{{ .Lastmod.Unix }}">
                {{ partial "humanize-date.html" (time .Lastmod) }}
              </span>
            </li>
          {{ end }}
          <li class="post__meta-item">
            {{ partial "icons/icon" (dict "vendor" "fas" "name" "stopwatch" "className" "post__meta-icon") }}
            <span class="post__meta-text">{{ i18n "reading_time" .ReadingTime }}</span>
          </li>
          {{ if .Params.attr }}
            <li class="post__meta-item">
              {{ partial "icons/icon" (dict "vendor" "fas" "name" "camera" "className" "post__meta-icon") }}
              <span class="post__meta-text">
                Image:
                {{ if .Params.attrLink }}
                  <a href="{{ .Params.attrLink }}" target="_blank" rel="noopener">{{ .Params.attr }}</a>
                {{ else }}
                  {{ .Params.attr }}
                {{ end }}
              </span>
            </li>
          {{ end }}
          {{ if not (eq .Params.noShare true) }}
            {{ partial "share.html" . }}
          {{ end }}
        </ul>
      {{ end }}

      {{- partial "expirationnote.html" . -}}

      {{ .Content | safeHTML }}

      {{- if isset .Params "series" -}}
        {{- partial "series.html" . -}}
      {{- end -}}

      {{ if and .Site.Params.brevoFormAction (ne .Params.noNewsletter true) }}
        <div id="join-newsletter" class="newsletter">
          {{ partial "brevo.html" . }}
        </div>
      {{ end }}

      {{- if (eq .Params.contact true) -}}
        {{- partial "contact.html" . -}}
      {{- end -}}

      {{- if (eq .Site.Params.relatedPosts true) -}}
        {{- partial "related.html" . -}}
      {{- end -}}

      {{- if (eq .Site.Params.mermaid.enable true) -}}
        {{- partial "mermaid.html" . -}}
      {{- end -}}
    </div>
    <div class="post__footer">
      {{ with .Page.Params.Categories }}
        {{ partial "taxonomy/categories.html" . }}
      {{ end }}

      {{ with .Page.Params.Tags }}
        {{ partial "taxonomy/tags.html" . }}
      {{ end }}
    </div>

    {{ if not (eq .Params.noShare true) }}
      {{ partial "share.html" . }}
    {{ end }}

    {{ $isPostSection := (eq .Type "post") }}
    {{ if .Site.Params.postSectionName }}
      {{ $isPostSection = or $isPostSection (eq .Type .Site.Params.postSectionName) }}
    {{ end }}
    {{ if .Site.Params.postSections }}
      {{ $isPostSection = or $isPostSection (in .Site.Params.postSections .Type) }}
    {{ end }}
    {{ if and $isPostSection (ne .Page.Params.disableComments true) }}
      {{- if .Site.Config.Services.Disqus.Shortname -}}
        <div id="comment">
          <h2>{{ i18n "comments" }}</h2>
          {{ template "_internal/disqus.html" . }}
        </div>
      {{- end -}}
      {{- if .Site.Params.utterances.repo -}}
        <div id="comment">
          <h2>{{ i18n "comments" }}</h2>
          {{ partial "comments/utterances.html" . }}
        </div>
      {{- end -}}
      {{- if .Site.Params.giscus.repo -}}
        <div id="comment">
          <h2>{{ i18n "comments" }}</h2>
          {{ partial "comments/giscus.html" . }}
        </div>
      {{- end -}}
      {{- if .Site.Params.CommentoURL -}}
        <div id="comment">
          <h2>{{ i18n "comments" }}</h2>
          {{ partial "comments/commento.html" . }}
        </div>
      {{- end -}}
      {{- if .Site.Params.gitalk.repo -}}
        <div id="comment">
          <h2>{{ i18n "comments" }}</h2>
          {{ partial "comments/gitalk.html" . }}
        </div>
      {{- end -}}

    {{ end }}
  </div>
{{ end }}
