@use 'modules/color_theme' as color;
@use 'modules/config' as conf;
@use 'modules/navpos' as navpos;

.nav {
  $py-desktop: 24px;

  display: none;

  @include conf.desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: none;
  }

  &--active,
  .header:not(.nav-loaded) &:hover,
  .header:not(.nav-loaded):has(.navbar-burger:hover) & {
    display: block;
  }

  // Show above nav only when navbar position is bottom and not desktop
  &--above {
    @include conf.smaller-than-desktop {
      @include navpos.top {
        display: none !important;
      }
    }
    @include conf.desktop {
      display: none !important;
    }
  }

  // Show below nav only when navbar position is top or is desktop
  &--below {
    @include conf.smaller-than-desktop {
      @include navpos.bottom {
        display: none !important;
      }
    }
  }

  &__list {
    margin: 0;
    list-style: none;
    padding: 0;
    width: 100%;

    @include conf.desktop {
      display: flex;
      padding: $py-desktop 30px;

      &--end {
        flex-shrink: 1;
        justify-content: flex-end;
      }
    }

    &-item {
      text-transform: uppercase;
      text-align: center;
      white-space: nowrap;

      @include conf.desktop {
        padding-top: 0;
        padding-bottom: 0;

        &:not(:last-child) {
          @include conf.ltr {
            padding-right: 20px;
          }
          @include conf.rtl {
            padding-left: 20px;
          }
        }
      }

      .icon {
        position: relative;
        top: 2px;
      }
    }
  }

  &__link {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 16px 0;

    @include conf.desktop {
      padding: 0;
    }

    &--active {
      @include conf.desktop {
        padding-bottom: $py-desktop;
        margin-bottom: -$py-desktop;

        @include color.themed() {
          border-bottom: 1px solid color.t('primary');
        }
      }
    }
  }
}
