@use 'modules/color_theme' as color;

.offline {
  display: flex;
  min-height: 100vh;
  width: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 0 1em 0;
  padding: 0;

  &-image {
    opacity: 0.5;
    transition: opacity 200ms;

    &:hover {
      opacity: 1;
    }
  }

  &-icon,
  &-title {
    @include color.themed() {
      color: color.t('primary');
    }
  }

  &-info {
    padding: 0 2em;
    margin-bottom: 2em;

    @include color.themed() {
      color: color.t('primary-light');
    }
  }

  &-actions {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  &-action {
    display: flex;
    flex-wrap: nowrap;
    gap: 0.5rem;
    align-items: center;
    text-decoration: none;
    margin: 0.25rem;
    padding: 1rem 1rem 0.75rem 1rem;

    @include color.themed() {
      background: nth(color.t('pastels'), 1);
      color: color.t('primary');
    }

    &-go-back {
      @include color.themed() {
        background: nth(color.t('pastels'), 3);
      }
    }

    &-try-again {
      @include color.themed() {
        background: nth(color.t('pastels'), 2);
      }
    }

    &-cta {
      @include color.themed() {
        background: nth(color.t('pastels'), 4);
      }
    }

    &-icon {
      vertical-align: middle;
      position: relative;
      top: -1px;
    }
  }
}
