<div
  class="{{ if and (ne .Site.Params.disableHeaderAnimation true) (ne .Site.Params.doNotLoadAnimations true) }}
    animated fadeInDown
  {{ end }}"
>
  {{- /* Search suggestions for above positioning */ -}}
  {{- partial "search-results.html" (dict "page" . "position" "above") -}}

  {{- /* Include TOC for mobile - above version */ -}}
  {{- partial "toc.html" (dict "page" . "size" "mobile" "position" "above") -}}

  {{- /* Navigation for bottom position (show above triggers) */ -}}
  {{- partial "navmenu.html" (dict "page" . "position" "above") -}}


  <div class="header-trigger-wrapper">
    {{- /* Mobile TOC trigger */ -}}
    <div class="toc-container-mobile">
      <a
        class="toc-trigger-mobile navbar-trigger"
        role="button"
        aria-label="Toggle Table of Contents"
        aria-expanded="false"
      >
        {{ partial "icons/icon" (dict "vendor" "fas" "name" "bars-staggered") }}
      </a>
    </div>

    <div
      class="search {{ if eq .Site.Params.flexsearch.disableNavbarExpansion true }}no-expand{{ end }}"
      data-max-results="{{ .Site.Params.flexsearch.maxResultsCount | default 5 }}"
      data-no-results="{{ (i18n "no_results" "XX") | default "No results for \"XX.\"" }}"
      data-feeling-lucky="{{ i18n "feeling_lucky" | default "Feeling lucky?" }}"
      data-try-suggestions="{{ i18n "try_suggestions" | default "You might like these..." }}"
      data-suggestions-target-above="header__search-suggestions--above"
      data-suggestions-target-below="header__search-suggestions--below"
    >
      <div class="searchbox">
        <label for="header__search-text" aria-label="Search">
          {{ partial "icons/icon" (dict "vendor" "fas" "name" "magnifying-glass") }}
        </label>
        <input id="header__search-text" type="search" placeholder="Search..." aria-label="Search" autocomplete="off" />
      </div>
    </div>

    <a role="button" class="navbar-burger navbar-trigger" data-target="navMenu" aria-label="menu" aria-expanded="false">
      {{ partial "icons/icon" (dict "vendor" "fas" "name" "ellipsis-vertical") }}
    </a>
  </div>

  {{- /* Search suggestions for below positioning */ -}}
  {{- partial "search-results.html" (dict "page" . "position" "below") -}}

  {{- /* Include TOC for mobile - below version */ -}}
  {{- partial "toc.html" (dict "page" . "size" "mobile" "position" "below") -}}

  {{- /* Navigation for top position (show below triggers) - default behavior */ -}}
  {{- partial "navmenu.html" (dict "page" . "position" "below") -}}
</div>
