{{ $related := "" }}
{{- if eq .Site.Params.excludeMultipleSeriesFromRelated false -}}
  {{ $related = .Site.RegularPages.Related . | first .Site.Params.numberOfRelatedPosts }}
{{ else }}
  {{ $related = slice }}
  {{ $series_pages := slice }}
  {{ range .Site.RegularPages.Related . }}
    {{ if .Params.series }}
      {{ $has_new_series := false }}
      {{ range .Params.series }}
        {{ if not (in $series_pages .) }}
          {{ $series_pages = $series_pages | append . }}
          {{ $has_new_series = true }}
        {{ end }}
      {{ end }}
      {{ if $has_new_series }}
        {{ $related = $related | append . }}
      {{ end }}
    {{ else }}
      {{ $related = $related | append . }}
    {{ end }}
  {{ end }}
  {{ $related = $related | first .Site.Params.numberOfRelatedPosts }}
{{ end }}
{{ with $related }}
  <h2 id="related-posts">{{- T "related_posts" -}}</h2>
  {{ if eq $.Site.Params.useSimplePostLists true }}
    <ul>
      {{ range . }}
        <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
      {{ end }}
    </ul>
  {{ else }}
    {{ range $index, $page := . }}
      <ul class="archive__list">
        {{ $postClass := "" }}
        {{ $external := false }}
        {{ $postUrl := .RelPermalink }}
        {{ if .Params.redirectUrl }}
          {{ $postUrl = .Params.redirectUrl }}
          {{ $external = true }}
          {{ $postClass = "external" }}
        {{ end }}
        {{ $linkClass := "styled" }}
        {{ if (eq .Site.Params.disableArchiveTitleStyling true) }}
          {{ $linkClass = "" }}
        {{ end }}
        <li class="archive__list-item {{ $postClass }}">
          <a
            class="archive__list-title {{ $linkClass }}"
            href="{{ $postUrl }}"
            title="{{ .Title }}"
            {{ if $external }}
              target="_blank" rel="noopener noreferrer"
            {{ end }}
          >
            {{ if .Params.thumbnail }}
              {{ $loading := "lazy" }}
              {{ $fetchpriority := "low" }}
              {{ $imageOpts := dict
                "src" .Params.thumbnail
                "alt" "Thumbnail image"
                "page" $page
                "loading" $loading
                "fetchpriority" $fetchpriority
                "width" "48"
                "class" "archive__list-image"
              }}
              {{ partial "image.html" $imageOpts }}
            {{ end }}
            {{ if .Params.redirectUrl }}
              {{ partial "icons/icon" (dict "vendor" "fas" "name" "arrow-up-right-from-square" "className" "archive__list-icon") }}
            {{ end }}
            {{ .Title }}</a
          >
          <div class="archive__list-date">
            {{ if isset .Site.Params "listdateformat" }}
              {{ if .Site.Params.localizedDates }}
                {{ time.Format .Site.Params.listDateFormat .Date }}
              {{ else }}
                {{ .Date.Format .Site.Params.listDateFormat }}
              {{ end }}

            {{ else }}
              {{ if .Site.Params.localizedDates }}
                {{ time.Format "Jan 2" .Date }}
              {{ else }}
                {{ .Date.Format "Jan 2" }}
              {{ end }}

            {{ end }}
          </div>
        </li>
      </ul>
    {{ end }}
  {{ end }}
{{ end }}
