{{ $link := .Permalink }}
{{ if .Params.redirectUrl }}
  {{ $link = .Params.redirectUrl }}
{{ end }}


<div class="share-buttons">
  <a
    role="button"
    title="Copy Link"
    class="share-button"
    data-share-url="{{ $link }}"
    data-share-title="{{ .Title }}"
    data-share-text="{{ .Summary }}"
  >
    {{ partial "icons/icon" (dict "vendor" "fas" "name" "share-nodes") }}
  </a>
  <a
    href="https://www.facebook.com/sharer/sharer.php?u={{ $link }}"
    target="_blank"
    rel="noopener noreferrer"
    title="Share on Facebook"
  >
    {{ partial "icons/icon" (dict "vendor" "fab" "name" "facebook") }}
  </a>
  <a
    href="https://x.com/intent/post/?url={{ $link }}&text={{ .Title | urlquery }}"
    target="_blank"
    rel="noopener noreferrer"
    title="Share on X"
  >
    {{ partial "icons/icon" (dict "vendor" "fab" "name" "twitter") }}
  </a>
  <a
    href="https://www.linkedin.com/shareArticle?mini=true&url={{ $link }}&title={{ .Title | urlquery }}&source={{ .Site.Title | urlquery }}"
    target="_blank"
    rel="noopener noreferrer"
    title="Share on LinkedIn"
  >
    {{ partial "icons/icon" (dict "vendor" "fab" "name" "linkedin") }}
  </a>
  <a
    href="mailto:?subject={{ .Title | urlquery }}&body={{ $link }}"
    target="_blank"
    rel="noopener noreferrer"
    title="Share via Email"
  >
    {{ partial "icons/icon" (dict "vendor" "fas" "name" "envelope") }}
  </a>
</div>
