{{- $toc := partial "toc-generator.html" .page -}}
{{- if $toc -}}
  {{- $isHome := eq .page.Kind "home" -}}
  {{- $pageTitle := i18n "toc" | default "Table of contents" -}}
  {{- if $isHome -}}
    {{- $pageNumber := 1 -}}
    {{- if .Paginator -}}
      {{- $pageNumber = .page.Paginator.PageNumber -}}
    {{- end -}}
    {{- $pageTitle = i18n "page_num_posts" $pageNumber | default (printf "Page %d posts" $pageNumber) -}}
  {{- end -}}

  {{- /* Desktop TOC (for sidebar) - only show on desktop */ -}}
  {{- $wrapperClassName := "toc-wrapper" -}}
  {{- $titleClassName := "toc-title" -}}
  {{- if eq .size "mobile" -}}
    {{- $wrapperClassName = "toc-wrapper-mobile" -}}
    {{- $titleClassName = "toc-title-mobile" -}}
  {{- end -}}
  <div class="{{ $wrapperClassName }}">
    <div class="{{ $titleClassName }}">{{ $pageTitle }}</div>
    {{ $toc }}
  </div>
{{- end -}}
