{{ define "main" }}
  <div
    class="post {{ with .Site.Params.doNotLoadAnimations }}
      .
    {{ else }}
      animated fadeInDown
    {{ end }}"
  >
    <div class="post__content">
      {{ .Content }}
    </div>

    <!-- (Optional) Home
          -- on top of `mainSections` content (aka posts) ;
          -- as declared in content/_index.md

          One can set `mainSections = [""]` and have the content/_index.md specified here
      -->
  </div>

  {{ if .Params.mainSectionsTitle }}
    <div
      class="post {{ with .Site.Params.doNotLoadAnimations }}
        .
      {{ else }}
        animated fadeInDown
      {{ end }}"
    >
      <div class="post__content">
        <h2>{{ .Params.mainSectionsTitle }}</h2>
      </div>
    </div>
  {{ end }}

  {{ $paginator := .Paginate (where .Site.RegularPages "Type" "in" .Site.Params.mainSections) }}
  {{ range $index, $page := $paginator.Pages }}
    {{ $postClass := "" }}
    {{ $target := "" }}
    {{ $postUrl := .RelPermalink }}
    {{ if .Params.redirectUrl }}
      {{ $postUrl = .Params.redirectUrl }}
      {{ $target = "_blank" }}
      {{ $postClass = "external" }}
    {{ end }}
    <div
      class="post {{ $postClass }} {{ with .Site.Params.doNotLoadAnimations }}
        .
      {{ else }}
        animated fadeInDown
      {{ end }}"
    >
      {{ if .Params.thumbnail }}
        <div class="post__thumbnail-wrapper">
          <a href="{{ $postUrl }}" target="{{ $target }}">
            <img
              class="post__thumbnail"
              src="{{ .Params.thumbnail | relURL }}"
              alt="Thumbnail image"
              {{ if le $index 1 }}
                fetchpriority="high"
              {{ else }}
                loading="lazy"
              {{ end }}
              {{ if .Params.thumbnailHd }}data-hd-src="{{ .Params.thumbnailHd | relURL }}"{{ end }}
            />
          </a>
          <div class="post__thumbnail-overlay">
            <div class="left">
              <div>
                <em class="fas fa-calendar-day"></em>
                <span class="post__footer-date"
                  >{{ if isset .Site.Params "indexdateformat" }}
                    {{ if .Site.Params.localizedDates }}
                      {{ time.Format .Site.Params.indexDateFormat .Date }}
                    {{ else }}
                      {{ .Date.Format .Site.Params.indexDateFormat }}
                    {{ end }}

                  {{ else }}
                    {{ if .Site.Params.localizedDates }}
                      {{ time.Format "Mon, Jan 2, 2006" .Date }}
                    {{ else }}
                      {{ .Date.Format "Mon, Jan 2, 2006" }}
                    {{ end }}

                  {{ end }}</span
                >
              </div>
              {{ if and .Lastmod (not (eq .Lastmod .Date)) }}
                <div>
                  <em class="fas fa-edit"></em>
                  <span class="post__footer-date" data-humanize-date="{{ .Lastmod.Unix }}">
                    {{ partial "humanize-date.html" (time .Lastmod) }}
                  </span>
                </div>
              {{ end }}
              {{ if .Params.attr }}
                <div>
                  <em class="fas fa-camera"></em>
                  <span class="post__footer-date">
                    Image:
                    {{ if .Params.attrLink }}
                      <a href="{{ .Params.attrLink }}" target="_blank" rel="noopener">{{ .Params.attr }}</a>
                    {{ else }}
                      {{ .Params.attr }}
                    {{ end }}
                  </span>
                </div>
              {{ end }}
            </div>
            <div class="middle"></div>
            <div class="right">
              {{ if not (eq .Params.noShare true) }}
                {{ partial "share.html" . }}
              {{ end }}
            </div>
          </div>
        </div>
      {{ end }}
      <div class="post__content">
        {{ if (eq .Site.Params.disableTitleCapitalization true) }}
          <h3>
            <a href="{{ $postUrl }}" target="{{ $target }}">
              {{ if .Params.redirectUrl }}
                <i class="fas fa-external-link-alt" aria-label="External link"></i>
              {{ end }}
              {{ .Title }}
            </a>
          </h3>
        {{ else }}
          <h3 class="upper">
            <a href="{{ $postUrl }}" target="{{ $target }}">
              {{ if .Params.redirectUrl }}
                <i class="fas fa-external-link-alt" aria-label="External link"></i>
              {{ end }}
              {{ .Title }}
            </a>
          </h3>
        {{ end }}
        {{ if .Site.Params.fullPostContent }}
          <p>{{ .Content | safeHTML | plainify }}</p>
        {{ else }}
          <p>{{ .Summary | safeHTML | plainify }}</p>
        {{ end }}
        <!-- add read more -->
        {{- if and (.Truncated) (.Site.Params.readMore) -}}
          <a href="{{ .RelPermalink }}">{{ i18n "read_more" }}</a>
        {{- end -}}
      </div>

      <!--  -->
      <div class="post__footer">
        {{ with .Page.Params.Categories }}
          {{ partial "taxonomy/categories.html" . }}
        {{ end }}
        {{ with .Page.Params.Tags }}
          {{ partial "taxonomy/tags.html" . }}
        {{ end }}
      </div>
    </div>
  {{ end }}
  <div class="pagination">
    {{ partial "pagination.html" . }}
  </div>
  {{ if .Site.Params.brevoFormAction }}
    <div class="newsletter">
      {{ partial "brevo.html" . }}
    </div>
  {{ end }}
{{ end }}
