@use 'modules/color_theme' as color;

.alert {
  display: flex;
  gap: 0.75rem;
  align-items: center;
  padding: 1rem 1rem 0.9rem 1rem;
  border-style: solid;
  border-radius: 4px;
  border-width: 1px;
  margin-top: 1rem;
  line-height: 1.4em;

  @include color.themed() {
    border-color: color.t('alert');
  }

  &__indicator {
    display: block;
    flex-shrink: 0;
    border-radius: 9999px;
    padding: 0.5rem;
    width: 1.7rem;
    height: 1.7rem;
    text-align: center;
    font-weight: 800;
    line-height: 1.2em;

    @include color.themed() {
      color: color.t('accent');
      background-color: color.t('alert');
    }
  }
}
