@use 'modules/color_theme' as color;
@use 'modules/config' as conf;

.category {
  padding: 4px 6px;
  border-radius: 2px;
  display: inline-block;
  font-size: 1.4rem;
  backdrop-filter: blur(5px);

  @include color.themed() {
    border: color.t('border');
    background-color: mix(color.t('primary-lighter'), rgba(0, 0, 0, 0.1));
    color: color.t('primary') !important;
  }

  &:hover {
    @include color.themed() {
      border: 1px solid color.t('primary-light');
    }
  }

  @include conf.ltr {
    margin: 5px 8px 5px 0;
  }

  @include conf.rtl {
    margin: 5px 0 5px 8px;
  }
}
