@use 'modules/color_theme' as color;
@use 'modules/config' as conf;

.search {
  display: flex;
  flex-direction: column;
  margin: 1.5em 30px 0 30px;
  position: relative;

  label {
    display: flex;
    align-items: center;
    margin: auto;
    padding: 6px 6px 6px 9px;
    border-radius: 24px;
    min-width: 16px;
    position: relative;

    @include color.themed() {
      $pastels: color.t('pastels');
      background: nth($pastels, 5);
    }

    &::after {
      content: 'Search';
      padding: 0 0.7rem;
      font-weight: 400;
      font-size: 0.9em;
      font-family:
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        'Segoe UI',
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        'Open Sans',
        'Helvetica Neue',
        sans-serif;
    }
  }

  &:hover label,
  &.active label,
  & label:has(+ input[type='search']:focus) {
    padding: 6px;
    margin-right: 0.5rem;

    &::after {
      content: '';
      padding: 0;
    }
  }

  &:hover input[type='search'],
  &.active input[type='search'],
  input[type='search']:focus {
    width: 100%;
    opacity: 1;
    padding: 0 0.5em;
  }

  &__no-results {
    padding: 5px;
    text-align: center;

    @include conf.desktop {
      text-align: left;
    }
  }

  &box {
    display: flex;
    width: 100%;
  }

  input[type='search'] {
    opacity: 0;
    border-radius: 0.2rem;
    outline: none;
    line-height: 3rem;
    width: 0;
    padding: 0;
    overflow-x: hidden;
    transition: width 200ms;

    @include color.themed() {
      border: 1px solid color.t('primary-light');
      background: color.t('accent');
      caret-color: color.t('primary');
      color: color.t('primary');
    }

    &:focus {
      @include color.themed() {
        border: 1px solid color.t('primary-light');
      }
    }

    &::placeholder {
      @include color.themed() {
        color: color.t('primary-light');
      }
    }

    &::-webkit-search-cancel-button {
      appearance: none;
    }
  }

  &__suggestions {
    border-radius: 0.2rem;
    width: 100%;

    @include conf.desktop {
      left: 3rem;
      top: 4rem;
      position: absolute;
      width: calc(100% - 3rem);
      z-index: 1000;

      @include color.themed() {
        background: color.t('accent');
        box-shadow: 0 0.5rem 1rem color.t('primary-lighter');
      }
    }

    &--hidden {
      display: none;
    }

    &-item {
      display: flex;
      align-items: center;
      padding: 1rem;
      gap: 1rem;

      @include color.themed() {
        &:not(:last-child) {
          border-bottom: 0 dashed color.t('primary-lighter');
        }
      }

      &:focus,
      &:focus-visible,
      &:hover {
        cursor: pointer;
        outline: none;

        @include color.themed() {
          background: adjust-color(color.t('primary-lighter'), $alpha: -0.6);
        }
      }

      img {
        width: 40px;
        height: 40px;
        object-fit: cover;
        border-radius: 4px;
      }
    }

    &-title {
      font-weight: 500;

      span {
        @include color.themed() {
          color: color.t('primary-light');
        }

        &:last-of-type {
          font-size: 0.75em;
        }
      }
    }
  }
}

.sidebar .search {
  display: none;

  @include conf.desktop {
    display: flex;
  }
}

.header .search {
  margin: 5px;
  flex: 1;

  @include conf.desktop {
    display: none;
  }

  label {
    background: none;

    &::after {
      content: '';
      padding: 0;
    }
  }

  &__suggestions {
    &:has(.search__suggestions-item) {
      margin-top: 5px;
    }
  }
}
