@use 'modules/color_theme' as color;

.share-buttons {
  display: inline-block;

  a {
    padding: 5px 6px 2px 6px;
    display: inline-block;
    cursor: pointer;
    border-radius: 4px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    backdrop-filter: blur(2px);

    @include color.themed() {
      color: color.t('accent');
      background-color: mix(color.t('primary'), rgba(0, 0, 0, 0.2));
    }

    &:hover {
      @include color.themed() {
        color: color.t('primary-lighter');
        background-color: color.t('info');
      }
    }
  }
}

.post__meta .share-buttons {
  a {
    padding: 0 5px;
    background-color: unset;

    @include color.themed() {
      color: color.t('primary');
    }

    &:hover {
      background-color: unset;

      @include color.themed() {
        color: color.t('info');
      }
    }
  }
}

.post__footer + .share-buttons {
  display: block;
  margin-top: 2rem;

  a {
    margin-right: 0;
    margin-bottom: 10px;
    font-size: 1.1em;
    padding: 0.5em 1em;

    @include color.themed() {
      color: color.t('primary');
      background-color: color.t('primary-lighter');
    }

    &:hover {
      @include color.themed() {
        color: color.t('info');
        background-color: color.t('accent');
      }
    }
  }
}

.notifs-overlay {
  position: fixed;
  bottom: 10px;
  right: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;

  .copy-notification {
    position: relative;
    right: -50px;
    opacity: 0;
    border-radius: 4px;
    color: color.t('primary');
    background-color: color.t('primary-lighter');
    padding: 8px;
    min-width: max-content;
    max-width: calc(50svw - 50px);
    transition: 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .copy-notification.visible {
    right: 10px;
    opacity: 1;
  }
}
