@use 'modules/color_theme' as color;
@use 'modules/config' as conf;

.sidebar {
  margin-top: 40px;
  padding-top: 16px;

  @include conf.desktop {
    z-index: 2;
    position: fixed;
    height: 100%;
    margin-top: 0;
    width: inherit;
    display: flex;
    flex-direction: column;

    @include color.themed() {
      box-shadow: 0 0 5px color.t('shadow-color');

      @include conf.ltr {
        margin-right: 4px;
      }

      @include conf.rtl {
        margin-left: 4px;
      }
    }
  }

  &__content {
    @include conf.desktop {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      justify-content: center;
    }
  }

  &__list {
    list-style: none;
    padding: 0;

    text-align: center;

    &-item {
      display: inline;
      padding: 0 0.2em;
      line-height: 0;
      position: relative;
      top: 2px;
    }
  }

  &__introduction {
    top: 40%;
    text-align: center;

    &-description {
      margin: 0 1em;
    }

    &-profileimage {
      width: 127px;
      height: 127px;
      border-radius: 50%;
    }

    &-title {
      text-transform: uppercase;
      font-weight: bold;
      letter-spacing: 2px;
      line-height: 1;
      margin: 1em;

      a {
        font-size: 3.2rem;
      }

      h1 {
        margin: 0;
      }
    }
  }

  &__posts {
    margin: 1.5em 0 0 0;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
    justify-content: center;
  }

  &__post-link {
    display: inline-block;
    opacity: 0.7;
    padding: 0.3em 1em;
    border-radius: 999px;
    color: color.t('primary');
    font-size: 0.95em;
    font-weight: 500;
    text-decoration: none;
    border: 1.5px solid transparent;
    transition:
      background 0.2s,
      color 0.2s,
      border 0.2s,
      opacity 0.2s;
    margin-bottom: 0.25em;

    @include color.themed() {
      $pastels: color.t('pastels');
      @for $i from 1 through length($pastels) {
        &:nth-child(#{$i}) {
          background: color.t('accent');
          border: 1px solid nth($pastels, $i);

          &.current {
            opacity: 1;
            background: nth($pastels, $i);
            box-shadow: color.t('shadow');
          }

          &:not(.current):hover,
          &:not(.current):focus {
            color: nth($pastels, $i);
          }
        }
      }

      &:hover,
      &:focus {
        opacity: 1;
        background: color.t('accent');
        border-color: color.t('border-color');
        color: color.t('primary');
        text-decoration: none;

        .sidebar__post-link-count {
          opacity: 1;
        }
      }

      .theme--dark & {
        &:hover,
        &:focus {
          background: color.t('primary');
        }
      }
    }

    &-count {
      font-weight: 400;
      font-family: monospace;
      font-size: 0.8em;
      opacity: 0.8;
    }

    &-icon {
      width: 0.8em;
      height: 0.8em;
      margin-left: -0.3em;
      position: relative;
      top: 1px;

      @include color.themed() {
        color: color.t('accent');
      }
    }

    &.current {
      .sidebar__post-link-count {
        font-weight: 800;
      }
    }
  }
}
